body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 1600px) {
    body {
        width: 1600px;
    }
}

.header {
    display: flex;
    position: relative;
    gap: 58px;
    padding-left: 220px;
    align-items: center;
    background-color: black;
    font-style: normal;
    color: #FDFDFF;
    z-index: 1;
}

.header a {
    text-decoration: none;
    color: #FDFDFF;
}

.header a:hover {
    color: #F9804B;
}

.header .nav-link-highlited {
    color: #F9804B;
}

.logo {
    margin: 14px 0;
}

.watch-animal-section {
    display: flex;
    justify-content: flex-end;
    color: white;
    text-transform: uppercase;
    padding-bottom: 70px;
    background: url(../../assets/images/giant_panda.png) no-repeat center;
    background-position: center -200px;
    background-size: 100%;
}

.watch-animal-call-to-action {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-right: 400px;
    width: 400px;
}

.watch-animal-call-to-action::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    top: -25px;
    right: 90px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}

.watch-animal-call-to-action h2 {
    font-family: Roboto;
    font-size: 85px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 50px;
    z-index: 1;
}

.watch-animal-call-to-action h2>span {
    color: #FFEE2E;
}

.watch-animal-call-to-action button {
    padding: 16px 0 16px 5px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    background-color: #FE9013;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.watch-animal-call-to-action button:hover {
    background-color: #E47209;
}

.backstage-section {
    position: relative;
    display: grid;
    grid-template-areas:
        "backstage-photo backstage-text backstage-flower-photo";
}

.backstage-photo {
    grid-area: "backstage-photo";
    padding-left: 220px;
    padding-right: 80px;
}

.backstage-text {
    grid-area: "backstage-text";
    padding-right: 20px;
}

.backstage-text h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
    margin: 20px 0;
}

.backstage-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.backstage-text h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;

}

.backstage-photo,
.backstage-text {
    padding-top: 140px;
    padding-bottom: 180px;
}

.backstage-flower-photo {
    grid-area: "backstage-flower-photo";
    padding-top: 10px;
}