body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 1600px) {
    body {
        width: 1600px;
    }
}

button {
    padding: 16px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    background-color: #FE9013;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #E47209;
}

button:active {
    background-color: green;
}

.header {
    display: flex;
    position: relative;
    gap: 58px;
    padding-left: 220px;
    align-items: center;
    background-color: black;
    font-style: normal;
    color: #FDFDFF;
    z-index: 1;
}

.header a {
    text-decoration: none;
    color: #FDFDFF;
}

.header a:hover {
    color: #F9804B;
}

.header .nav-link-highlited {
    color: #F9804B;
}

.logo {
    margin: 14px 0;
}

.watch-animal-section {
    display: flex;
    justify-content: flex-end;
    color: white;
    text-transform: uppercase;
    padding-bottom: 70px;
    background: url(../../assets/images/giant_panda.png) no-repeat center;
    background-position: center -200px;
    background-size: 100%;
}

.watch-animal-call-to-action {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-right: 400px;
    width: 400px;
}

.watch-animal-call-to-action::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    top: -25px;
    right: 90px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}

.watch-animal-call-to-action h2 {
    font-family: Roboto;
    font-size: 85px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 50px;
    z-index: 1;
}

.watch-animal-call-to-action h2>span {
    color: #FFEE2E;
}



.backstage-section {
    position: relative;
    display: grid;
    grid-template-areas:
        "backstage-photo backstage-text backstage-flower-photo";
}

.backstage-photo {
    grid-area: backstage-photo;
    padding-left: 220px;
    padding-right: 80px;
}

.backstage-text {
    grid-area: backstage-text;
    padding-right: 20px;
}

.backstage-text h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
    margin: 20px 0;
}

.backstage-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.backstage-text h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;

}

.backstage-photo,
.backstage-text {
    padding-top: 140px;
    padding-bottom: 180px;
}

.backstage-flower-photo {
    grid-area: backstage-flower-photo;
    padding-top: 10px;
}

.pets-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.pets-section::before {
    content: '';
    position: absolute;
    bottom: -80px;
    left: 1px;
    width: 290px;
    height: 460px;
    background-image: url('../../assets/images/palm_foto.png');
    z-index: 0;
}

.pets-section::after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 1px;
    width: 370px;
    height: 275px;
    background-image: url('../../assets/images/strelitzia.png');
    z-index: 0;
}

.pets-grid {
    display: grid;
    grid-template-areas:
        "previous-pet-btn first-pet-row next-pet-btn"
        "previous-pet-btn second-pet-row next-pet-btn";
    margin: 0 auto 40px auto;
}

.previous-pet-btn {
    grid-area: previous-pet-btn;
}

.next-pet-btn {
    grid-area: next-pet-btn;
}

.previous-pet-btn,
.next-pet-btn {
    margin: auto 0;
}

.first-pet-row {
    grid-area: first-pet-row;
}

.second-pet-row {
    grid-area: second-pet-row;
}

.first-pet-row,
.second-pet-row {
    display: flex;
}

.pet-card {
    display: flex;
    flex-direction: column;
    border: orange 1px solid;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
    z-index: 1;
}

.pet-card-description {
    display: flex;
    align-items: center;
}

.pet-card-header {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.pet-card-header h3 {
    margin: 0;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
}

.pet-card-header p {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #000000;
}

.pet-card-food-icon {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 8px;
}

.previous-pet-btn,
.next-pet-btn {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #FE9013;
    border: none;
    cursor: pointer;
}

.choose-favorite-pet-btn-wrapper {
    margin: auto auto 100px auto;
}

.peek-friend-section {
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    z-index: 1;
}

.peek-friend-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    margin: 70px 220px 100px 220px;
    border-radius: 10px;
}

.peek-friend-info h2 {
    margin: 30px auto;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
}

.peek-friend-info h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
}

.peek-friend-info a {
    text-decoration: none;
    color: #333B41;
    border-bottom: 1px solid #FE9013;
}

.peek-friend-info a:hover {
    color: #F9804B;
}

.peek-friend-msg {
    margin: auto 50px auto 100px;
}

.peek-friend-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.find-friend-apreciation-msg {
    margin: 0 auto 10px auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.donation-process-info {
    display: grid;
    grid-template-areas:
        "card      arrow1 payment      arrow2 happy-monkey"
        "card-desc .      payment-desc .      happy-monkey-desc";
}

.card {
    grid-area: card;
}

.arrow1 {
    grid-area: arrow1;
}

.payment {
    grid-area: payment;
}

.arrow2 {
    grid-area: arrow2;
}

.happy-monkey {
    grid-area: happy-monkey;
}

.card-desc {
    grid-area: card-desc;
}

.payment-desc {
    grid-area: payment-desc;
}

.happy-monkey-desc {
    grid-area: happy-monkey-desc;
}

.card,
.payment,
.happy-monkey {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    border: orange 1px solid;
    border-radius: 5px;
    background-color: white;
}

.arrow1,
.arrow2 {
    margin: auto 30px;
    width: 70px;
    height: 35px;
}

.card-desc,
.payment-desc,
.happy-monkey-desc {
    width: 170px;
}

.feed-friend-btn-wrapper {
    margin: 30px auto 60px auto;
}