.watch-animal-section {
    display: flex;
    justify-content: flex-end;
    color: white;
    text-transform: uppercase;
    padding-bottom: 70px;
    background: url(../../assets/images/giant_panda.png) no-repeat center;
    background-position: center -200px;
    background-size: 100%;
}

.watch-animal-call-to-action {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-right: 400px;
    width: 400px;
}

.watch-animal-call-to-action::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    top: -25px;
    right: 90px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}

.watch-animal-call-to-action h2 {
    font-family: Roboto;
    font-size: 85px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 50px;
    z-index: 1;
}

.watch-animal-call-to-action h2>span {
    color: #FFEE2E;
}

.backstage-section {
    position: relative;
    display: grid;
    grid-template-areas:
        "backstage-photo backstage-text backstage-flower-photo";
}

.backstage-photo {
    grid-area: backstage-photo;
    padding-left: 220px;
    padding-right: 80px;
}

.backstage-text {
    grid-area: backstage-text;
    padding-right: 20px;
}

.backstage-text h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
    margin: 20px 0;
}

.backstage-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.backstage-text h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;

}

.backstage-photo,
.backstage-text {
    padding-top: 140px;
    padding-bottom: 180px;
}

.backstage-flower-photo {
    grid-area: backstage-flower-photo;
    padding-top: 10px;
}

.pets-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pets-section::before {
    content: '';
    position: absolute;
    bottom: -80px;
    left: 1px;
    width: 290px;
    height: 460px;
    background-image: url('../../assets/images/palm_foto.png');
    z-index: 0;
}

.pets-section::after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 1px;
    width: 370px;
    height: 275px;
    background-image: url('../../assets/images/strelitzia.png');
    z-index: 0;
}

.pets-wrapper {
    position: relative;
    margin: 0 auto 40px auto;
}

.previous-pet-btn {
    position: absolute;
    left: -62px;
    top: 410px;
}

.next-pet-btn {
    position: absolute;
    right: -62px;
    top: 410px;
}

.previous-pet-btn,
.next-pet-btn {
    margin: auto 0;
    padding: 0;
}

.first-pet-row {
}

.second-pet-row {
}

.first-pet-row,
.second-pet-row {
    display: flex;
}

.pet-card {
    display: flex;
    flex-direction: column;
    border: orange 1px solid;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
    cursor: pointer;
    z-index: 1;
}

.pet-card img {
    transition: 200ms transform ease-in-out;
}
.pet-card:hover img {
    transform: scale(1.05);
}

.pet-card > img {
    width: 100%;
}

.pet-card-description {
    display: flex;
    align-items: center;
}

.pet-card-header {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.pet-card-header h3 {
    margin: 0;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
}

.pet-card-header p {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #000000;
}

.pet-card-food-icon {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 8px;
}

.previous-pet-btn,
.next-pet-btn {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #FE9013;
    border: none;
    cursor: pointer;
}

.choose-favorite-pet-btn-wrapper {
    margin: auto auto 100px auto;
}

.peek-friend-section {
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    z-index: 1;
}

.peek-friend-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    margin: 70px 220px 100px 220px;
    border-radius: 10px;
}

.peek-friend-info h2 {
    margin: 30px auto;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
}

.peek-friend-info h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
}

.peek-friend-info a {
    color: #333B41;
    border-bottom: 1px solid #FE9013;
}

.peek-friend-info a:hover {
    color: #F9804B;
}

.peek-friend-msg {
    margin: auto 50px auto 100px;
}

.peek-friend-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.find-friend-apreciation-msg {
    margin: 0 auto 10px auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.donation-process-info {
    display: grid;
    grid-template-areas:
        "card      arrow1 payment      arrow2 happy-monkey"
        "card-desc .      payment-desc .      happy-monkey-desc";
}

.card {
    grid-area: card;
}

.arrow1 {
    grid-area: arrow1;
}

.payment {
    grid-area: payment;
}

.arrow2 {
    grid-area: arrow2;
}

.happy-monkey {
    grid-area: happy-monkey;
}

.card-desc {
    grid-area: card-desc;
}

.payment-desc {
    grid-area: payment-desc;
}

.happy-monkey-desc {
    grid-area: happy-monkey-desc;
}

.card,
.payment,
.happy-monkey {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    border: orange 1px solid;
    border-radius: 5px;
    background-color: white;
}

.arrow1,
.arrow2 {
    margin: auto 30px;
    width: 70px;
    height: 35px;
}

.card-desc,
.payment-desc,
.happy-monkey-desc {
    width: 170px;
}

.feed-friend-btn-wrapper {
    margin: 30px auto 60px auto;
}

.testimonials {
    display: grid;
    grid-template-areas:
        "testimonials-section-header"
        "testimonials-user-feedback";
    justify-items: center;
    position: relative;
    background-color: #FDFDFF;
    overflow: hidden;
}

.testimonials::before {
    content: '';
    position: absolute;
    width: 301px;
    height: 295.5px;
    background-image: url(../../assets/images/leav_foto.png);
    bottom: -20px;
    right: -54px;
}

.testimonials-section-header {
    grid-area: testimonials-section-header;
}

.testimonials-block {
    display: flex;
    flex-direction: column;
}

.testimonials-user-feedback {
    grid-area: testimonials-user-feedback;
    display: flex;
    gap: 30px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    height: 390px;
    width: 270px;
    background: #f1f3f2;
    border: 2px #FEBDAB solid;
    border-radius: 20px;
}

.testimonials h2 p {
    color: #333B41;
}

.testimonials h2 {
    margin: 140px 0 50px 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
}

.testimonial-header {
    display: flex;
    align-items: center;
    margin: 15px 0 10px 15px;
}

.testimonial-name-lokation {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.testimonial-name-lokation h3 {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

.testimonial-name-lokation p {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}

.testimonial-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    color: #767474;
    margin: 0 16px 20px 16px;
    overflow-y: auto;
}

.testimonial-text::-webkit-scrollbar {
    display: none;
}

.testimonial-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 30px 0 30px;
}

.testimonial-scroll input {
    margin: 20px auto 0 auto;
    -webkit-appearance: none;
    width: 600px;
    height: 8px;
    border: 0.5px solid transparent;
    border-radius: 8px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    box-shadow: inset 0 0 0 10vw #f5f7f6;
    outline: none;
    cursor: pointer;
}

.testimonial-scroll input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 150px;
    border-radius: 3px;
    background: #E47209;
    cursor: pointer;
}

.testimonial-scroll input[type=range]::-webkit-slider-thumb:active {
    background: green;
}

.testimonial-btn {
    justify-self: start;
    margin: 25px auto 25px 0;
    height: 50px;
    width: 300px;
    border-radius: 8px;
}

@media(max-width: 1000px) {
    .watch-animal-section {
        background-position: top;
        background-size: cover;
        padding-bottom: 0;
    }

    .watch-animal-call-to-action h2 {
        margin-top: 10%;
        margin-right: 20%;
    }

    .watch-animal-call-to-action {
        padding-bottom: 5%;
    }

    .backstage-flower-photo {
        display: none;
    }

    .watch-animal-call-to-action {
        margin-right: 5%;
    }

    .backstage-photo {
        margin: 0;
        width: 450px;
        height: 400px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .pets-wrapper {
        width: 1000px;
    }

    .first-pet-row {
        margin-bottom: 60px;
    }

    .previous-pet-btn {
        top: 390px;
        left: 350px;
    }

    .next-pet-btn {
        top: 390px;
        right: 350px;
    }
    .pets-section::before {
        bottom: -40px;
        left: 1px;
        width: 145px;
        height: 230px;
        background-size: cover;
    }

    .pets-section::after {
        bottom: 0px;
        right: 1px;
        width: 180px;
        height: 135px;
        background-size: cover;
    }

    .peek-friend-info {
       margin: 50px 30px;
    }


    .testimonials-user-feedback .testimonial:last-child{
        display: none;
    }

    .testimonials::before {
        bottom: -160px;
    }
}